@import 'common/colors';
@import 'common/fonts';
@import "pod-styles";

body {
  font-family: 'Roboto', serif;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  svg {
    fill: currentColor;
  }

  * {
    box-sizing: inherit;
  }
  > .ember-view {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;

    .layout-column {
      display: flex;
      flex-direction: column;
    }

    .layout-row {
      display: flex;
      flex-direction: row;
    }

    .flex {
      flex-grow: 1;
    }
  }
}