&{
  .slick-slider {
    width:100vw;
    box-sizing: border-box;
    overflow-y: hidden;
    z-index: 0;
  
    .slick-prev,
    .slick-next {
      background-color: color('black', .6);
      width: 40px;
      height: 80px;
      z-index: 10;
  
      &:hover {
        background-color: color('primary');
      }
    }

    @media screen and (max-width: 960px) {
      .slick-prev,
      .slick-next {
        display: none;
      }

      .box {
        font-size: 80%;
      }
    }
  
    .slick-prev {
      left: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  
    .slick-next {
      right: 0; 
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  
    .box {
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      max-height: 800px;
      
      img {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translateX(-50%) translateY(-50%);
        width:100vw;
        height: auto;
      }
  
      .text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color('black', .6);
        color: color('white');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
        padding-bottom: 45px;
        margin: 0;
  
        .header {
          font-size: 2em;
          font-weight: bold;
          letter-spacing: -0.2px;
          line-height: 1.2;
          padding: 8px;
          width: 100%;
        }
      }
    }
  
    .slick-dots {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 11;
      bottom: 0;
      height: auto;
      background-color: color('black', .6);
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: auto;
        button {
          display: block;
          border-radius: 0;
          padding: 0;
          height: 4px;
          width: 30px;
          background-color: color('active');
          &::before {
            font-family: inherit;
            content: "";
          }
        }
  
        &.slick-active {
          button {
            background-color: color('primary');
          }
        }
      }
    }
  }
}