{{#slick-slider autoplay=true dots=true lazyLoad=true mobileFirst=true autoplaySpeed=10000}}
  <div class="box"> 
    <img src="slider/slide1.png">
    <div class="text">
      <div class="header">
        Izrada računovodstvenih politika i kontnog plana
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide2.png">
    <div class="text">
      <div class="header">
        Vođenje poslovnih knjiga i računovodstvenih poslova
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide3.png">
    <div class="text">
      <div class="header">
        Vođenje kadrovske evidencije i obračunavanje plata
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide4.png"> 
    <div class="text">
      <div class="header">
        Izrada obaveznih izvještaja
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide5.png"> 
    <div class="text">
      <div class="header">
        Izrada neobaveznih izvještaja
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide6.png"> 
    <div class="text">
      <div class="header">
        Ostale poslovne usluge
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide7.png"> 
    <div class="text">
      <div class="header">
        Usluge poslovnog konsaltinga i eksternog poslovnog nadzora
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide8.png"> 
    <div class="text">
      <div class="header">
        Zastupanje prilikom nadzora od strane nadležnih organa
      </div>
    </div>
  </div>
{{/slick-slider}}