{{#slick-slider autoplay=true dots=true lazyLoad=true mobileFirst=true autoplaySpeed=10000}}
  <div class="box"> 
    <img src="slider/slide1.jpg">
    <div class="text">
      <div class="header">
        Izrada računovodstvenih politika i kontnog plana
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide2.jpg">
    <div class="text">
      <div class="header">
        Vođenje poslovnih knjiga i računovodstvenih poslova
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide3.jpg">
    <div class="text">
      <div class="header">
        Vođenje kadrovske evidencije i obračunavanje plata
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide4.jpg"> 
    <div class="text">
      <div class="header">
        Izrada obaveznih izvještaja
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide5.jpg"> 
    <div class="text">
      <div class="header">
        Izrada neobaveznih izvještaja
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide6.jpg"> 
    <div class="text">
      <div class="header">
        Ostale poslovne usluge
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide7.jpg"> 
    <div class="text">
      <div class="header">
        Usluge poslovnog konsaltinga i eksternog poslovnog nadzora
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
  <div class="box"> 
    <img src="slider/slide8.jpg"> 
    <div class="text">
      <div class="header">
        Zastupanje prilikom nadzora od strane nadležnih organa
      </div>
      <div class="description">
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </div>
    </div>
  </div>
{{/slick-slider}}